# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo & Web
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Android Builds
.kotlin/
.gradle/
android/.gradle/
android/app/build/
android/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS & Environment
.DS_Store
*.pem
.env*.local
.env
